#Virtual Environment
virtual_env/
venv/
env/
#Python
__pycache__/
*.pyc 
*.pyo 
*.pyd
#Environment variables(passwords,secret keys)
.env
#Django 
db.sqlite3
media/
*.log
#vscode
.vscode/
#windows
Thumbs.db
Desktop.ini
